<div class="navbar">
  <a routerLink="admindashboard" class="navbar-link">Admin DashBoard</a>
  <!-- <a routerLink="customers" class="navbar-link">Customer</a>
    <a routerLink="addloanscheme" class="navbar-link">Add Loan Scheme</a>
    <a routerLink="viewloanscheme" class="navbar-link">View Loan Scheme</a>
    <a routerLink="addloanofficer" class="navbar-link">Add Loan Officer</a>
    <a routerLink="manageloanofficer" class="navbar-link">Manage LoanOfficer</a>
    <a routerLink="viewloanRequest" class="navbar-link">View loanRequest</a>
    <a routerLink="report" class="navbar-link">Loan Officer Report</a>
    <a routerLink="npa" class="navbar-link">Npa</a> -->
    <button class="btn btn-danger" (click)="signOut()">Sign out</button>
  </div>
  
  <router-outlet></router-outlet>