<div class="container mt-4">
    <!-- Filter Input -->
    <div class="mb-3">
      <input type="text" class="form-control" [(ngModel)]="filterText" placeholder="Filter requests..." (input)="applyFilter()" />
    </div>
  
    <!-- Loan Request Table -->
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Loan Amount</th>
          <th>Time</th>
          <th>Scheme Name</th>
          <th>User</th>
          <th>Loan Officer</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let loanRequest of loanRequests | filter: filterText">
          <td>{{ loanRequest.loanamount }}</td>
          <td>{{ loanRequest.time }}</td>
          <td>{{ loanRequest.schemeName }}</td>
          <td>{{ loanRequest.userFirstName }} {{ loanRequest.userLastName }}</td>
          <td>{{ loanRequest.loanOfficerFirstName }} {{ loanRequest.loanOfficerLastName }}</td>
          <td>{{ loanRequest.isClosed ? 'Closed' : 'Not CLosed' }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Pagination -->
    <div class="d-flex justify-content-between align-items-center">
      <button class="btn btn-primary" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">
        Previous
      </button>
  
      <span>Page {{ currentPage + 1 }} of {{ pageResponse.totalPages }}</span>
  
      <button class="btn btn-primary" (click)="onPageChange(currentPage + 1)" [disabled]="pageResponse.lastPage">
        Next
      </button>
    </div>
  </div>
  